---
import type { GetStaticPaths } from "astro";
import Footer from "@/components/Footer";
import Header from "@/components/Header.astro";
import "@/styles/global.css";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
    const contentList = await getCollection("content");

    return contentList.map((content) => ({
        params: { mdid: content.id },
        props: { content },
    }));
}) satisfies GetStaticPaths;

const { content } = Astro.props;
const { Content } = await render(content);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0&icon_names=fiber_manual_record"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" id="currentTheme" href="/themes/default.css" />
        <meta name="generator" content={Astro.generator} />
        <title>NT- a minimalist typing interface</title>
    </head>
    <body>
        <Header />
        <Content />
        <Footer />
    </body>
</html>
