---
import Header from "@/components/Header.astro";
import "@/styles/global.css";
import { THEME } from "@/constants/themes";
import ConfigToolbar from "@/components/ConfigToolbar";
import KeyboardContainer from "@/components/KeyboardContainer";
import Stats from "@/components/analytics/Stats";
import ResetButton from "@/components/keyboard/ResetButton";
import Footer from "@/components/Footer";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" id="currentTheme" href="/themes/default.css" />
        <meta name="generator" content={Astro.generator} />
        <title>NT- a minimalist typing interface</title>
    </head>
    <body>
        <Header />
        <ConfigToolbar client:load />
		<div id="main-container">
            <KeyboardContainer client:load />
		    <Stats client:load />
            <ResetButton client:load />
        </div>
        <Footer />
    </body>
    <script>
        import { $kbState, $kbTypingState } from "@/store/keyboard";

        $kbState.subscribe((state) => {
            document.body.setAttribute("data-kb-state", state.toString());
        });

        $kbTypingState.subscribe((typingState) => {
            document.body.setAttribute("data-kb-typing-state", typingState.toString());
        });
    </script>
    <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
</html>
