---
import Header from "@/components/Header.astro";
import "@/styles/global.css";
import { THEME } from "@/constants/themes";
import ConfigToolbar from "@/components/ConfigToolbar";
import KeyboardContainer from "@/components/KeyboardContainer";
import Stats from "@/components/analytics/Stats";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0&icon_names=fiber_manual_record" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" id="currentTheme" href="/themes/default.css" />
        <meta name="generator" content={Astro.generator} />
        <title>NT- a minimalist typing interface</title>
    </head>
    <body>
        <Header />
		<ConfigToolbar client:load />
		<KeyboardContainer client:load />
		<Stats client:load />
    </body>
</html>
