:root {
  /* background */
  --bg-color: #0f0f1a;
  --alt-bg-color: #1a1a28;

  /* primary colors */
  --main-color: #ddb8ff;
  --pipe-color: #9cc4ff;
  
  /* text colors */
  --text-color: #cdd6f4;
  --sub-text-color: #9399b2;
  --sub-alt-text-color: #45475a;
  
  /* error colors */
  --error-color: #f38ba8;
  --error-extra-color: #eba0ac;
  --colorful-error-color: #f38ba8;
  --colorful-error-extra-color: #cba6f7;
}