:root {
  /* background */
  --bg-color: #0d1117;
  --alt-bg-color: #161b22;

  /* primary colors */
  --main-color: #58a6ff;
  --pipe-color: #79c0ff;
  
  /* text colors */
  --text-color: #c9d1d9;
  --sub-text-color: #8b949e;
  --sub-alt-text-color: #30363d;
  
  /* error colors */
  --error-color: #ff7b72;
  --error-extra-color: #f85149;
  --colorful-error-color: #ff7b72;
  --colorful-error-extra-color: #ffa198;
}