:root {
  /* background */
  --bg-color: #05080c;
  --alt-bg-color: #0c1015;

  /* primary colors */
  --main-color: #6bb8ff;
  --pipe-color: #8cd0ff;
  
  /* text colors */
  --text-color: #c9d1d9;
  --sub-text-color: #8b949e;
  --sub-alt-text-color: #30363d;
  
  /* error colors */
  --error-color: #ff7b72;
  --error-extra-color: #f85149;
  --colorful-error-color: #ff7b72;
  --colorful-error-extra-color: #ffa198;
}