:root {
  /* background */
  --bg-color: #1a181a;
  --alt-bg-color: #252325;

  /* primary colors */
  --main-color: #ffe680;
  --pipe-color: #8aeeff;
  
  /* text colors */
  --text-color: #fcfcfa;
  --sub-text-color: #939293;
  --sub-alt-text-color: #403e41;
  
  /* error colors */
  --error-color: #ff6188;
  --error-extra-color: #fc9867;
  --colorful-error-color: #ff6188;
  --colorful-error-extra-color: #ab3e5c;
}