:root {
  /* background */
  --bg-color: #1a1f2a;
  --alt-bg-color: #242933;

  /* primary colors */
  --main-color: #9fd4e0;
  --pipe-color: #94b3d6;
  
  /* text colors */
  --text-color: #eceff4;
  --sub-text-color: #d8dee9;
  --sub-alt-text-color: #4c566a;
  
  /* error colors */
  --error-color: #bf616a;
  --error-extra-color: #d08770;
  --colorful-error-color: #bf616a;
  --colorful-error-extra-color: #b48ead;
}