:root {
  /* background */
  --bg-color: #16181d;
  --alt-bg-color: #1e2228;

  /* primary colors */
  --main-color: #a8d68a;
  --pipe-color: #74c0ff;
  
  /* text colors */
  --text-color: #abb2bf;
  --sub-text-color: #828997;
  --sub-alt-text-color: #3b4048;
  
  /* error colors */
  --error-color: #e06c75;
  --error-extra-color: #c678dd;
  --colorful-error-color: #e06c75;
  --colorful-error-extra-color: #d19a66;
}