:root {
  /* background */
  --bg-color: #0d0e16;
  --alt-bg-color: #16192a;

  /* primary colors */
  --main-color: #8db5ff;
  --pipe-color: #3dd6f5;
  
  /* text colors */
  --text-color: #a9b1d6;
  --sub-text-color: #787c99;
  --sub-alt-text-color: #32344a;
  
  /* error colors */
  --error-color: #f7768e;
  --error-extra-color: #ff7a93;
  --colorful-error-color: #f7768e;
  --colorful-error-extra-color: #bb9af7;
}