---
import Dropdown from "./common/Dropdown";
import IconButton from "./common/IconButton";
import ReactLoaded from "./common/ReactLoaded";
import ThemeSwitch from "./ThemeSwitch";
import { ClientRouter } from "astro:transitions";
import IconKeyboard from "@/icons/IconKeyboard";
---

<link
    href="https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap"
    rel="stylesheet"
/>

<ReactLoaded client:only />
<div class="header-container">
    <div id="logo">
        <a href="/">
            <h1 id="logo-text" class="skranji-bold">Ninja Type</h1>
        </a>
        <a class="icon-button" href="/">
            <i class="material-icons"> keyboard </i>
        </a>
    </div>
    <div class="header-buttons">
        <!-- <ThemeSwitch client:load /> -->
        <!-- <IconButton>
        <i class="material-icons">keyboard</i>
    </IconButton> -->
        <!-- <IconButton>
            <i class="material-icons">settings</i>
        </IconButton> -->

        <a href="/settings/" class="btn" data-astro-prefetch="load">
            <i class="material-icons">settings</i>
        </a>

        <!-- <IconButton>
        <i class="material-icons">info</i>
    </IconButton>
    <IconButton>
        <i class="material-icons">menu</i>
    </IconButton> -->
    </div>
</div>
<ClientRouter />
<!-- <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script> -->
