---
import SEO from "@/components/seo/SEO.astro";
import CommonSettings from "@/components/CommonSettings.astro";
import "@/styles/global.css";
import CommonHead from "@/components/toolbar/CommonHead.astro";

export interface Props {
  title?: string;
  description?: string;
  canonical?: string;
  image?: string;
  imageAlt?: string;
  type?: "website" | "article";
  author?: string;
  publishDate?: string;
  noindex?: boolean;
  nofollow?: boolean;
}

const googleAnalyticsId = "G-7TGPJD2M8V"; 
const seoProps = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <CommonHead />
    <!-- SEO Component -->
    <SEO {...seoProps} />
    
    <!-- Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`}></script>
    <script is:inline define:vars={{ googleAnalyticsId }}>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', googleAnalyticsId);
    </script>
    <!-- Simple analytics -->
    <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

    <!-- Common Settings -->
    <CommonSettings />
  </head>
  <body>
    <slot />
  </body>
</html>
